.album-box {
    background: white;
    padding: 30px;
    border-radius: 25px;
}

.image {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}

.image img {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.image img:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
